@import '../variables';

#drum-machine {
    background-color: $background-color;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#made-by {
    color: $bold-font-color;
    font-family: monospace;

    a:visited {
        color: $bold-font-color;
    }
    a:hover {
        color: $button-accent-color;
    }
}
