@import '../variables';

#drum-machine {
    background-color: $background-color;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

