@import '../variables';

#drum-pad-container {
    width: $padwidth *3 + 30px;
    height: $padheight *3 + 30px;
    background-color: $element-color;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}