@import '../variables';


$width: 80px;
$padding: 4px;
$height: $width / 2;
.switch-wrap {
    cursor: pointer;
    background: #d3d3d3;
    padding: $padding;
    width: $width;
    height: $height;
    border-radius: $height / 2;
  }
  .switch {
    height: $height;
    width: $height;
    border-radius: 50%;
    transition: .3s;
  }