$padheight: 150px;
$padwidth: 150px;
$bold-font-color: #776e65;

$background-color: #faf8ef;
$element-color: #bbada0;
$drumpad-color: #eee4da;
$drumpad-color-disabled:#eee4da59;
$primary-color: #edc53f;