#drum-machine {
  background-color: #faf8ef;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

#made-by {
  color: #776e65;
  font-family: monospace; }
  #made-by a:visited {
    color: #776e65; }
  #made-by a:hover {
    color: #4CAF50; }

#drum-pad-container {
  width: 480px;
  height: 480px;
  background-color: #bbada0;
  display: inline-block;
  padding: 5px;
  margin: 10px;
  border-radius: 5px; }

.drum-pad {
  cursor: pointer;
  background-color: #eee4da59;
  width: 150px;
  height: 150px;
  position: relative;
  float: left;
  border-radius: 5px;
  margin: 5px;
  font-size: 50px;
  line-height: 150px;
  color: #776e65;
  font-weight: bold; }

#display {
  width: 480px;
  height: 50px;
  border-radius: 5px;
  background-color: #edc53f;
  display: inline-block;
  margin: 20px;
  color: white;
  font-size: 30px;
  line-height: 50px; }

#controls {
  width: 480px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.switch-wrap {
  cursor: pointer;
  background: #d3d3d3;
  padding: 4px;
  width: 80px;
  height: 40px;
  border-radius: 20px; }

.switch {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: .3s; }

.volume-slider {
  appearance: none;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  transition: opacity .2s; }

.volume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer; }
